@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2"), url("../fonts/OpenSans-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2"), url("../fonts/OpenSans-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2"), url("../fonts/OpenSans-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2"), url("../fonts/OpenSans-Italic.woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/ofont.ru_Muller.woff2"), url("../fonts/ofont.ru_Muller.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans";
  margin: 0;
}

.site-container {
  overflow: hidden;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  color: #ffffff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.header__logo-link {
  height: 40px;
}
.header__logo-link:focus {
  outline: none;
  box-shadow: 0 0 0 1px #9D5CD0;
}
.header__logo {
  width: 173px;
  margin-right: 179px;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__top {
  background: #000000;
  padding: 30px 0;
  font-size: 18px;
}
.header__bottom {
  background: rgba(0, 0, 0, 0.4);
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__item:not(:last-child) {
  margin-right: 110px;
}
.header__btn {
  border: transparent;
  background: transparent;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  padding: 0;
  position: relative;
  outline: none;
  transition: all 0.2s linear;
}
.header__btn-text {
  position: relative;
}
.header__btn::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  top: 9px;
  right: -15px;
  transition: all 0.2s linear;
}
.header__btn::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -36px;
  bottom: -8px;
  left: -6px;
  background: #9D5CD0;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.header__btn:hover {
  color: #c283f3;
  cursor: pointer;
}
.header__btn:focus:not(:active):not(:hover):before {
  transform: scale(1);
}
.header__btn:hover::after {
  border-right: 1px solid #c283f3;
  border-bottom: 1px solid #c283f3;
}
.header__login {
  position: relative;
  font-weight: 400;
  margin-left: auto;
  padding-left: 20px;
  background: url("../img/login.svg") no-repeat center left;
  transition: all 0.1s linear;
}
.header__login:before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background: #9D5CD0;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.header__login:hover {
  color: #c283f3;
  background-image: url("../img/enter-hover.svg");
}
.header__login:active {
  color: #7943a4;
  background-image: url("../img/enter-active.svg");
}
.header__login:focus {
  outline: none;
}
.header__login:focus:not(:active):not(:hover):before {
  transform: scale(1);
  background-image: url(../img/enter-hover-white.svg);
  background-position: 5% center;
  background-repeat: no-repeat;
}
.header__login-text {
  position: relative;
}
.header__form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}
.header__button {
  background: transparent;
  border: none;
  margin-bottom: -5px;
  cursor: pointer;
  outline: none;
}
.header__button svg path, .header__button svg rect {
  transition: all 0.2s linear;
}
.header__button:hover svg path, .header__button:hover svg rect {
  fill: #C283F3;
}
.header__button:focus svg path, .header__button:focus svg rect {
  fill: #C283F3;
}
.header__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 220px;
  padding-bottom: 5px;
  letter-spacing: 0.9px;
  color: #ffffff;
  outline: none;
  transition: all 0.1s linear;
}
.header__input::placeholder {
  color: #ffffff;
}
.header__input:hover {
  border-color: #c283f3;
}
.header__input:active {
  border-color: #7943a4;
}
.header__input:focus {
  border-color: #7943A4;
}
.header__input:focus::placeholder {
  opacity: 0;
}
.header__search-mobile {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav__item:not(:last-child) {
  margin-right: 65px;
}
.nav__link {
  position: relative;
  font-weight: 600;
  transition: all 0.1s linear;
}
.nav__link:before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  background: #9D5CD0;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.nav__link:hover {
  color: #c283f3;
}
.nav__link:active {
  color: #7943a4;
}
.nav__link:focus {
  outline: none;
}
.nav__link:focus:not(:active):not(:hover)::before {
  transform: scale(1);
}
.nav__link-text {
  position: relative;
}

.burger {
  position: relative;
  border: none;
  background: transparent;
  width: 36px;
  height: 28px;
  display: none;
}
.burger__line {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
}
.burger__line--top {
  top: 0;
  left: 0;
  right: 0;
}
.burger__line--middle {
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  width: 77%;
}
.burger__line--bottom {
  bottom: 0;
  right: 0;
  left: 0;
  width: 65%;
}

.header__item {
  position: relative;
  padding-top: 26px;
  padding-bottom: 25px;
}

.header__item-btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.header__item-btn:hover,
.header__item-btn:focus {
  color: #c283f3;
}

.header__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.header__item-btn.is-active {
  color: #c283f3;
}

.header__btn.is-active::after {
  transform: rotate(-133deg) translateY(0px);
}

.header__item-btn:active {
  color: #c283f3;
}

.header__dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  z-index: 100;
}

.header__dropdown-wrap {
  width: 240px;
  max-height: 220px;
}

.header__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.header__dropdown-item {
  width: 220px;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  background-origin: border-box;
  transition: border-color 0.3s ease;
}

.header__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header__item-link--tintoretto {
  background-image: url("../img/tintoretto-bg.jpg");
}

.header__item-link--fridrih {
  background-image: url("../img/fridrih-bg.png");
}

.header__item-text {
  position: relative;
}

.header__item-link:hover,
.header__item-link:focus {
  outline: none;
  border-color: #9D5CD0;
}

.header__item-link:active::before {
  opacity: 1;
}

.header__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.header__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.top-wrapper {
  position: relative;
}

.hero {
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-content {
  position: relative;
  z-index: 4;
  color: #ffffff;
  padding-top: 72px;
  padding-bottom: 122px;
}
.text-content__title {
  font-size: 72px;
  max-width: 590px;
  line-height: 1.13;
  margin-bottom: 20px;
}
.text-content__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.69;
  max-width: 570px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.text-content__subtitle:last-of-type {
  margin-bottom: 91px;
}
.text-content__button {
  background: transparent;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background: #9D5CD0;
  padding: 23px 32px;
  color: inherit;
  font-weight: inherit;
  letter-spacing: 2px;
  border: 3px solid transparent;
  transition: all 0.1s linear;
  position: relative;
  outline: none;
}
.text-content__button:hover {
  border-color: #D1A9F0;
}
.text-content__button:active {
  border-color: #D1A9F0;
  background-color: #7943A4;
}
.text-content__button:after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  left: -8px;
  bottom: -8px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.text-content__button:focus::after {
  opacity: 1;
}

.about {
  color: #333333;
  padding: 86px 0;
  padding-bottom: 53px;
}
.about__title {
  font-size: 48px;
  margin-bottom: 21px;
  font-weight: 400;
}
.about__subtitle {
  max-width: 1080px;
  line-height: 2;
}

.gallerey {
  padding: 85px 0 81px 0;
  background: url("../img/gallerey-bg.jpg") no-repeat center;
  background-size: cover;
}
.gallerey__wrapper {
  display: flex;
}
.gallerey__title {
  font-size: 48px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 27px;
}
.gallerey__filter {
  display: flex;
  flex-direction: column;
  position: relative;
}
.gallerey__button {
  background: transparent url("../img/arrow-down.svg") no-repeat 97% 60%;
  border-radius: 6px;
  border: 1px solid #ffffff;
  width: 400px;
  height: 42px;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transition: background 0.1s linear;
  padding-left: 15px;
  margin-bottom: 183px;
  outline: none;
}
.gallerey__button.active {
  background-image: url("../img/arrow-up-gallerey-change.svg");
}
.gallerey__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.gallerey__button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.gallerey__dropdown-list {
  position: absolute;
  top: 75px;
  border: 1px solid #999999;
  border-radius: 6px;
  margin-top: -1px;
  border-top-color: transparent;
}
.gallerey__dropdown-item {
  width: 398px;
  height: 40px;
  color: #999999;
  font-size: 16px;
  padding-top: 10px;
  cursor: pointer;
  transition: background 0.2s linear;
  padding-left: 15px;
  transition: all 0.2s linear;
}
.gallerey__dropdown-item:not(:last-child) {
  border-bottom: 1px solid #999999;
}
.gallerey__dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.gallerey__descr {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.gallerey__left {
  margin-right: 50px;
}
.gallerey__right {
  padding-top: 79px;
  overflow: hidden;
}
.gallerey__img {
  width: 100%;
  height: 350px;
  display: block;
}
.gallerey__swiper {
  width: 100%;
}
.gallerey-swiper-wrapper .swiper {
  overflow: visible;
}

.gallerey__dropdown-list--hidden {
  display: none;
}

.gallerey__dropdown-list--active {
  display: block;
}

.checkboxes {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.checkboxes__text {
  transition: color 0.2s linear;
}
.checkboxes__custome-checkbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #ffffff;
  position: relative;
  margin-right: 9px;
  transition: all 0.2s linear;
}
.checkboxes__custome-checkbox:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #c283f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s linear;
  transition: all 0.2s linear;
}
.checkboxes__real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.2s linear;
}
.checkboxes__real-checkbox:checked + .checkboxes__custome-checkbox:before {
  transform: translate(-50%, -50%) scale(1);
}
.checkboxes__real-checkbox:checked + .checkboxes__custome-checkbox {
  border-color: #c283f3;
}
.checkboxes__real-checkbox:focus ~ .checkboxes__custome-checkbox {
  border-color: #c283f3;
}
.checkboxes__real-checkbox:checked ~ .checkboxes__text, .checkboxes__real-checkbox:focus ~ .checkboxes__text {
  color: #c283f3;
}
.checkboxes label {
  outline: none;
  transition: all 0.2s linear;
}
.checkboxes label:not(:last-child) {
  margin-bottom: 15px;
}
.checkboxes label:hover {
  cursor: pointer;
  color: #c283f3;
}
label:hover > .checkboxes__custome-checkbox {
  border-color: #c283f3;
}
.checkboxes label:focus {
  color: #c283f3;
}
label:focus > .checkboxes__custome-checkbox {
  border-color: #c283f3;
}

.catalog {
  padding: 85px 0 109px 0;
}
.catalog__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.catalog__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 21px;
  margin-right: 40px;
}
.catalog__list {
  display: flex;
  align-items: center;
}
.catalog__item {
  margin-right: 50px;
}
.catalog__btn {
  padding: 0;
  border: none;
  border-radius: 50%;
  display: flex;
  width: 46px;
  height: 46px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.2s linear;
  outline: none;
}
.catalog__btn::after, .catalog__btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.catalog__btn::before {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
}
.catalog__btn::after {
  width: 100%;
  height: 100%;
}
.catalog__btn:hover, .catalog__btn:focus {
  box-shadow: 0 0 20px rgba(157, 92, 208, 0.7);
}
.catalog__btn:active::after {
  opacity: 1;
}
.catalog__img-country {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalog__subtitle {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 2;
  max-width: 1080px;
  margin-bottom: 39px;
}
.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}
.catalog__left {
  width: calc(50% - 50px);
}
.catalog__right {
  width: 50%;
}
.catalog__img {
  width: 100%;
  max-width: 750px;
  height: auto;
  margin-bottom: 30px;
}
.catalog__img-title {
  display: block;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.8px;
  margin-bottom: 12px;
}
.catalog__img-age {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #999999;
  margin-bottom: 8px;
}
.catalog__img-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #999999;
  max-width: 749px;
  margin: 0;
}
.catalog__img-descr--margin {
  margin-bottom: 15px;
}
.catalog__tab-content {
  display: none;
}
.catalog__tab-content.tab-active {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.catalog__link {
  color: #9D5CD0;
  font-weight: 600;
}

.tab-active.catalog__btn::before {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.accordion__question:first-child .accordion__heading {
  border-top: 1px solid #CACACA;
}

.accordion__heading {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  border-right: none;
  border-left: none;
  padding: 41px 120px 41px 0;
  font-size: 24px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.accordion__question:first-child .accordion__heading:hover,
.accordion__heading:hover {
  border-color: #9D5CD0;
}

.accordion__question:first-child .accordion__heading:active,
.accordion__heading:active,
.is-active.accordion__question:first-child .accordion__heading,
.is-active.accordion__question .accordion__heading {
  border-color: #7943A4;
}

.accordion__heading-text {
  position: relative;
}

.accordion__heading-text-wrap {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.accordion__heading-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: #9D5CD0;
  transition: transform 0.3s ease;
}

.accordion__heading:hover {
  color: #9D5CD0;
}

.accordion__heading:active {
  color: #7943A4;
}

.accordion__heading:focus:not(:active) {
  color: #ffffff;
  outline: none;
}

.accordion__heading:focus:not(:active) .accordion__heading-text::before {
  transform: translate(-50%, -50%) scaleX(1);
}

.accordion .head-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color 0.3s, 0.6s ease, transform 0.3s, 0.6s ease;
}

.accordion .head-icon-round {
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.accordion__heading:hover .head-icon-round,
.accordion__heading:focus .head-icon-round {
  fill: #D1A9F0;
  stroke: #D1A9F0;
}

.accordion__heading:hover .head-icon::before,
.accordion__heading:hover .head-icon::after,
.accordion__heading:focus .head-icon::before,
.accordion__heading:focus .head-icon::after {
  background-color: #ffffff;
}

.is-active .head-icon {
  transform: translateY(-50%) rotate(0);
}

.is-active .accordion__heading .head-icon-round {
  fill: #D1A9F0;
  stroke: #9D5CD0;
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
  border-bottom: 1px solid transparent;
}
.accordion__content-wrap {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
}
.accordion__content-wrap picture {
  margin-right: 24px;
}
.accordion__content-wrap img {
  width: 100%;
  max-width: 275px;
  height: auto;
}
.accordion__content-text-content span {
  display: block;
}
.accordion__content-title {
  color: #333333;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 7px;
}
.accordion__content-subtitle {
  font-weight: 400;
  font-size: 16px;
  max-width: 275px;
  margin-bottom: 5px;
}
.accordion__content-link-gallerey {
  color: #9D5CD0;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  outline: none;
  display: inline-block;
}
.accordion__content-link-gallerey:after {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  background: #9D5CD0;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.accordion__content-link-gallerey:hover {
  text-decoration: underline;
}
.accordion__content-link-gallerey:active {
  text-decoration: underline;
  color: #7943A4;
}
.accordion__content-link-gallerey:focus {
  color: #ffffff;
}
.accordion__content-link-gallerey:focus:after {
  transform: scale(1);
}
.accordion__content-link-gallerey-text {
  position: relative;
  z-index: 1;
}

.is-active .accordion__content {
  visibility: visible;
  border-color: #CACACA;
}

.accordion .text {
  margin-top: 0;
  margin-bottom: 20px;
}

.accordion__inner-list {
  width: 91%;
  column-count: 3;
}

.accordion__painter-link.tab-active {
  color: #7943A4;
}

.accordion .link {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s;
}

.accordion .link::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -3px;
  bottom: -3px;
  background-color: #7943A4;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.accordion .link:hover {
  color: #9D5CD0;
}

.accordion .link:focus {
  outline: none;
}

.accordion .link:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

.accordion .link:active {
  color: #7943A4;
  transition: none;
}

.accordion .link--text {
  color: #333333;
  transition: color 0.2s;
}

.accordion .link--text::before {
  left: -1px;
  right: -1px;
}

.accordion .link--text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
}

.accordion .link--text:hover::after {
  transform: scaleX(1);
}

.accordion .link--text:focus:not(:hover):not(:active) {
  color: #ffffff;
}

.accordion .link__text {
  position: relative;
}

.accordion .link__icon {
  width: 100%;
}

.accordion .link--text-dark {
  color: #9D5CD0;
}

.accordion .link--text-dark:hover {
  color: #7943A4;
}

.accordion .link--text-dark:focus:not(:hover):not(:active) {
  color: #ffffff;
}

.accordion .link--text-dark::before {
  left: -8px;
  right: -8px;
  bottom: -7px;
  background-color: #9D5CD0;
}

.accordion .link--text-dark:focus::after {
  transform: scaleX(1);
}

.accordion .link--text-dark:active {
  color: #7943A4;
}

/* Link another */
.accordion .link--text-another {
  color: #333333;
}

.accordion .link--text-another:hover {
  color: #7943A4;
}

.accordion .link--text-another:focus:not(:hover):not(:active) {
  color: #ffffff;
}

.accordion .link--text-another::before {
  top: 0;
  bottom: 0;
  left: -3px;
  right: -3px;
  background-color: #9D5CD0;
}

.accordion .link--text-another:active {
  color: #7943A4;
}

.accordion .link--text-another:active::after {
  transform: scaleX(0);
}

.accordion__item:not(:last-child) {
  margin-bottom: 15px;
}

.events {
  padding-bottom: 85px;
}
.events__title {
  font-weight: 400;
  font-size: 48px;
  color: #333333;
  margin-bottom: 22px;
}
.events__img {
  width: 100%;
  height: auto;
  display: block;
}
.events__wrapper {
  padding: 13px 0px 42px 49px;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}
.events__value {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: #999999;
  width: 145px;
  margin-bottom: 15px;
}
.events__subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
  color: #333333;
  max-width: 350px;
  margin-bottom: 4px;
}
.events__subtitle--two {
  margin-bottom: 10px;
}
.events__subtitle--three {
  margin-bottom: 10px;
}
.events__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #333333;
  max-width: 379px;
  margin-bottom: 20px;
}
.events__descr--width {
  max-width: 400px;
}
.events__descr:last-of-type {
  margin-bottom: 20px;
}
.events__link {
  display: block;
  color: #9d5cd0;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 3px;
  border-bottom: 1px solid #9d5cd0;
  width: 87px;
  margin-top: auto;
  transition: all 0.2s linear;
  position: relative;
  outline: none;
}
.events__link::after {
  content: "";
  position: absolute;
  top: -9px;
  right: -9px;
  bottom: -9px;
  left: -9px;
  background: #9d5cd0;
  transform: scale(0);
  transition: all 0.2s linear;
}
.events__link:focus::after {
  transform: scale(1);
}
.events__link-text {
  position: relative;
}
.events__link:focus .events__link-text {
  color: #ffffff;
  z-index: 1;
  border-bottom: 1px solid #ffffff;
}
.events__link:hover {
  color: #7943A4;
}
.events__swiper-container {
  position: relative;
}
.events .swiper-pagination {
  display: none;
}
.events .swiper-pagination-bullet-active {
  background-color: #666666;
}
.events .swiper-button-disabled {
  display: none;
}

.project__title {
  font-weight: 400;
  font-size: 48px;
  color: #333333;
  margin-bottom: 21px;
}
.project__description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  max-width: 1064px;
  margin-bottom: 22px;
}
.project__tultip {
  cursor: pointer;
  outline: none;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/tultip.svg") no-repeat center;
  vertical-align: middle;
  position: relative;
  transition: all 0.2s linear;
}
.project__tultip:after {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  top: -400%;
  padding: 10px;
  background: #9D5CD0;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.project__tultip:before {
  content: "";
  position: absolute;
  top: -85%;
  right: 0.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #9D5CD0 transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.project__tultip:hover::after, .project__tultip:hover::before {
  opacity: 1;
  visibility: visible;
}
.project__tultip--value::after {
  top: -300%;
}
.project__tultip:hover {
  background-image: url("../img/tultip-hover.png");
}
.project__tultip:focus:after, .project__tultip:focus:before {
  opacity: 1;
  visibility: visible;
}
.project__tultip:focus {
  background-image: url("../img/tultip-hover.png");
}
.project__link {
  color: #9D5CD0;
  outline: none;
  position: relative;
}
.project__link-text {
  position: relative;
}
.project__link::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: #9D5CD0;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.project__link:focus::after {
  transform: scale(1);
}
.project__link:focus .project__link-text {
  color: #ffffff;
  z-index: 1;
}

.partners {
  padding-bottom: 78px;
}
.partners__title {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  margin-bottom: 26px;
}
.partners__link {
  display: block;
  outline: none;
  position: relative;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
.partners__link:focus, .partners__link:active {
  border-color: #9D5CD0;
}
.partners__img {
  display: block;
  filter: grayscale(100%);
  transition: all 0.2s linear;
  width: 100%;
}
.partners__link:hover .partners__img {
  filter: grayscale(0);
}

.form-content {
  padding-top: 36px;
  padding-bottom: 37px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__location {
  font-weight: 600;
  color: #333333;
}
.form__shourum {
  font-size: 24px;
  margin-bottom: 18px;
}
.form__adress {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
.form__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 906px;
}
.form__input {
  border: 1px solid #333333;
  border-radius: 100px;
  padding: 15px 0 15px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  width: 270px;
  transition: background 0.2s linear;
  outline: none;
}
.form__input:hover {
  background: #EAEAEA;
  cursor: pointer;
}
.form__input:focus {
  background: #EAEAEA;
}
.form__btn {
  background: transparent;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 13px 23px 13px 23px;
  border: 2px solid #9d5cd0;
  font-weight: 700;
  font-size: 18px;
  color: #9D5CD0;
  width: 326px;
  transition: all 0.2s linear;
  cursor: pointer;
  position: relative;
  outline: none;
}
.form__btn--mobile {
  display: none;
}
.form__btn::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
}
.form__btn:hover {
  background: #9D5CD0;
  color: #ffffff;
}
.form__btn:active {
  background: #7943A4;
  border-color: #D1A9F0;
}
.form__btn:focus::after {
  opacity: 1;
}
.form__contact {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  margin-bottom: 12px;
}
.form__list {
  display: flex;
}
.form__link {
  position: relative;
  display: block;
  outline: none;
}
.form__item:not(:last-child) {
  margin-right: 20px;
}
.form__img {
  width: 40px;
  height: 40px;
  transition: opacity 0.2s linear;
  display: block;
}
.form__img:hover {
  opacity: 0.5;
}
.form__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  width: 95%;
  height: 95%;
  border: 1px solid #9643A4;
  opacity: 0;
}
.form__link:focus::after {
  opacity: 1;
}
.form__label {
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: -15px;
  left: 20px;
  font-weight: 400;
  font-size: 12px;
}

.map-container {
  width: 100%;
  height: 700px;
}

.ymaps-layers-pane {
  -webkit-filter: grayscale(100%);
}

.footer {
  background: #000000;
  padding: 47px 0 40px 0;
  position: relative;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__social-list {
  display: flex;
}
.footer__social-item:not(:last-child) {
  margin-right: 20px;
}
.footer__link {
  display: block;
  outline: none;
}
.footer__link:focus .footer__svg path {
  fill: #9D5CD0;
}
.footer__svg {
  outline: none;
}
.footer__svg:hover path {
  fill: #ffffff;
}
.footer__svg:active path {
  fill: #9D5CD0;
}
.footer__svg:focus path {
  fill: #9D5CD0;
}

@media screen and (max-width: 1500px) {
  .form {
    flex-direction: column;
    align-items: self-start;
  }

  .form__location {
    margin-bottom: 30px;
  }

  .form__inputs {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1345px) {
  .header__logo {
    margin-right: 50px;
  }

  .nav__item:not(:last-child) {
    margin-right: 30px;
  }

  .header__item:not(:last-child) {
    margin-right: 50px;
  }

  .gallerey__button,
.gallerey__dropdown-item {
    width: 300px;
  }

  .events__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 450px;
  }

  .events__value {
    margin-left: auto;
    text-align: right;
  }

  .events__descr {
    margin-bottom: 30px;
  }

  .project__partners .swiper {
    max-width: 818px;
  }
}
@media screen and (max-width: 1100px) {
  .nav {
    display: none;
  }

  .header__logo {
    margin: 0;
  }

  .header__bottom {
    display: none;
  }

  .burger {
    display: block;
  }

  .header__login {
    display: none;
  }

  .header__search-mobile {
    display: block;
  }
  .header__search-mobile img {
    display: block;
    width: 30px;
    height: 30px;
  }

  .gallerey__button {
    margin-bottom: 150px;
  }

  .js-swiper-button-next1,
.js-swiper-button-prev1 {
    display: none;
  }

  .events .swiper {
    padding-bottom: 50px;
  }
  .events .swiper-pagination {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .gallerey__wrapper {
    flex-direction: column;
  }

  .catalog__wrapper {
    flex-direction: column-reverse;
  }

  .project__partners .swiper {
    max-width: 562px;
  }

  .catalog__left,
.catalog__right {
    width: 100%;
  }

  .gallerey__button {
    margin-bottom: 40px;
  }

  .gallerey__img {
    max-width: 100%;
  }

  .form__inputs {
    width: 100%;
    flex-wrap: wrap;
  }

  .form__label {
    width: calc(50% - 10px);
  }

  .form__input {
    margin-bottom: 12px;
  }

  .form__input {
    width: 100%;
  }

  .form__btn {
    width: calc(50% - 10px);
  }

  .modal__content {
    flex-direction: column;
  }

  .modal__text {
    align-self: auto !important;
    padding: 20px !important;
  }

  .modal img {
    max-width: 550px !important;
  }

  .modal__title {
    font-size: 24px !important;
  }

  .modal__subtitle {
    font-size: 18px !important;
  }

  .modal__description {
    font-size: 18px !important;
    line-height: 1.5 !important;
  }
}
@media screen and (max-width: 620px) {
  .header__top {
    padding: 11px;
  }

  .header__logo-link {
    height: 25px;
  }

  .header__logo {
    width: 96px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .header__search-mobile img {
    width: 20px;
    height: 20px;
  }

  .text-content__title {
    font-size: 32px;
    text-align: center;
    line-height: 1;
    letter-spacing: 3px;
  }

  .text-content__subtitle {
    font-size: 12px;
    text-align: center;
    margin-bottom: 41px;
    font-weight: 400;
    padding: 0 10px;
  }

  .text-content__button {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    padding: 11px 19px;
  }

  .about,
.gallerey,
.catalog,
.events {
    padding: 50px 0;
  }

  .about__title,
.gallerey__title,
.catalog__title,
.events__title,
.project__title {
    font-size: 32px;
    margin-bottom: 18px;
  }

  .about__subtitle {
    font-size: 14px;
  }

  .gallerey__button,
.gallerey__dropdown-item {
    width: 280px;
  }

  .gallerey__right {
    padding-top: 70px;
  }

  .catalog__subtitle {
    display: none;
  }

  .catalog__img {
    margin-bottom: 20px;
  }

  .catalog__img-title {
    margin-bottom: 20px;
  }

  .catalog__img-descr {
    font-size: 12px;
  }

  .accordion__content-title {
    font-size: 18px;
  }

  .accordion__content-subtitle {
    font-size: 14px;
  }

  .partners {
    padding-bottom: 0;
  }

  .project__partners .swiper {
    max-width: 195px;
  }

  .partners .swiper-button-next,
.partners .swiper-button-prev {
    top: 80%;
  }

  .partners__title {
    font-size: 18px;
  }

  .form-content {
    border-top: none;
  }

  .form__label {
    width: 100%;
  }

  .form__input {
    width: 100%;
  }

  .form__btn {
    font-size: 16px;
    padding: 16px 15px;
    width: 40%;
  }

  .form__btn--desctop {
    display: none;
  }

  .form__btn--mobile {
    display: block;
  }

  .form__contact {
    font-size: 18px;
  }

  .footer {
    padding: 20px 0 60px 0;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .footer__logo {
    width: 96px;
    height: 26px;
  }

  .footer__social-list {
    margin-bottom: 20px;
  }

  .footer__true-css {
    left: 43%;
  }
}
@media screen and (max-width: 340px) {
  .gallerey-swiper-wrapper .swiper-pagination {
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .gallerey-swiper-wrapper .swiper-button-prev,
.gallerey-swiper-wrapper .swiper-button-next {
    top: auto;
    bottom: 3px;
  }

  .gallerey-swiper-wrapper .swiper-button-prev {
    left: 80px;
  }

  .gallerey-swiper-wrapper .swiper-button-next {
    left: 170px;
  }

  .gallerey__img {
    height: auto;
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  padding: 50px 0 0 15px;
  transition: transform 0.4s linear;
}
.mobile-menu__btn {
  padding: 10px 30px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  width: fit-content;
}
.mobile-menu__btn:hover {
  background: #9D5CD0;
}
.mobile-menu__login {
  position: relative;
  font-weight: 400;
  color: #ffffff;
  margin-left: auto;
  padding-left: 20px;
  background: url("../img/login.svg") no-repeat center left;
  transition: all 0.1s linear;
}
.mobile-menu__login:before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background: #9D5CD0;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.mobile-menu__login:hover {
  color: #c283f3;
  background-image: url("../img/enter-hover.svg");
}
.mobile-menu__login:active {
  color: #7943a4;
  background-image: url("../img/enter-active.svg");
}
.mobile-menu__login:focus {
  outline: none;
}
.mobile-menu__login:focus:not(:active):not(:hover):before {
  transform: scale(1);
  background-image: url(../img/enter-hover-white.svg);
  background-position: 5% center;
  background-repeat: no-repeat;
}
.mobile-menu__login-text {
  position: relative;
}
.mobile-menu .nav {
  display: block;
  color: #ffffff;
  margin-bottom: 100px;
}
.mobile-menu .nav__list {
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu .nav__item:not(:last-child) {
  margin-bottom: 20px;
}
.mobile-menu .header__login {
  display: block;
  color: #ffffff;
}

.close {
  width: 25px;
  height: 25px;
  position: relative;
  top: -360px;
  left: 87%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.close__line {
  width: 100%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.close__line--one {
  transform: rotate(45deg);
}
.close__line--two {
  transform: rotate(-45deg);
}

.mobile-menu--hidden {
  transform: translateX(-100%);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 6;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  overflow: auto;
}
.modal.active {
  display: block;
}
.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__text {
  background: #ffffff;
  align-self: stretch;
  padding: 100px 20px 0 50px;
  max-width: 550px;
  position: relative;
}
.modal__title {
  font-size: 30px;
}
.modal span {
  display: block;
}
.modal img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.modal__subtitle {
  font-size: 20px;
  font-weight: 600;
}
.modal__age {
  color: #b7b7b7;
  margin-bottom: 30px;
}
.modal__description {
  font-size: 18px;
  line-height: 1.5;
}
.modal__close {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  top: -5px;
  cursor: pointer;
}
.modal__close-line {
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000000;
}
.modal__close-line--one {
  transform: rotate(45deg);
}
.modal__close-line--two {
  transform: rotate(-45deg);
}
.modal__wrapper-button {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}