.hero__swiper {
  width: 100%;
  height: 100%;
}
.hero__swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper.hero__swiper {
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero__swiper-slide--one {
  background-image: url("../img/hero-slide-1.jpg");
}
.hero__swiper-slide--two {
  background-image: url("../img/hero-slide-2.jpg");
}
.hero__swiper-slide--three {
  background-image: url("../img/hero-slide-3.jpg");
}

.gallerey-swiper-wrapper {
  position: relative;
}
.gallerey-swiper-wrapper .swiper-pagination {
  color: #ffffff;
  width: fit-content;
  top: -53px;
  right: auto;
  left: 51px;
}

.gallerey__swiper {
  width: 1180px;
  height: 350px;
}

.gallerey-swiper-wrapper .swiper-button-prev,
.gallerey-swiper-wrapper .swiper-button-next {
  width: 30px;
  height: 30px;
  background: no-repeat;
  top: -38px;
  transition: background 0.2s linear;
  outline: none;
}
.gallerey-swiper-wrapper .swiper-button-prev::before,
.gallerey-swiper-wrapper .swiper-button-next::before {
  content: "";
  position: absolute;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  width: 95%;
  height: 95%;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.gallerey-swiper-wrapper .swiper-button-prev:focus:before,
.gallerey-swiper-wrapper .swiper-button-next:focus:before {
  opacity: 1;
}
.gallerey-swiper-wrapper .swiper-button-next {
  background-image: url("../img/arrow-slider-next.svg");
  right: auto;
  left: 103px;
}
.gallerey-swiper-wrapper .swiper-button-next:hover {
  background-image: url("../img/swiper-arrow-next-hover.svg");
}
.gallerey-swiper-wrapper .swiper-button-prev {
  background-image: url("../img/arrow-slider-prev.svg");
  left: 3px;
}
.gallerey-swiper-wrapper .swiper-button-prev:hover {
  background-image: url("../img/swiper-arrow-prev-hover.svg");
}

.gallerey-swiper-wrapper .swiper-button-prev::after,
.gallerey-swiper-wrapper .swiper-button-next::after {
  display: none;
}
.gallerey .swiper-slide__imgbox {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.gallerey .swiper-slide__imgbox::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  left: 25px;
  bottom: 25px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  transition: all 0.2s linear;
}
.gallerey .swiper-slide__imgbox::before {
  content: "";
  position: absolute;
  width: 81px;
  height: 79px;
  background: url("../img/search-gallerey.svg") no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 3;
  cursor: pointer;
  transition: all 0.2s linear;
}
.gallerey .swiper-slide__imgbox:hover::after,
.gallerey .swiper-slide__imgbox:hover::before {
  opacity: 1;
}
.gallerey .swiper-slide__imgbox-overlay {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  z-index: 5;
  opacity: 0;
  outline: none;
}
.gallerey .swiper-slide__imgbox-overlay:focus {
  border: 3px solid #7943a4;
  background: transparent;
  opacity: 1;
}
.gallerey .swiper-slide__imgbox:active .swiper-slide__imgbox-overlay {
  border: 2px solid #d1a9f0;
  opacity: 1;
}
.gallerey .swiper-slide:focus {
  border: 2px solid red;
}

.events__swiper-container .swiper-button-prev,
.events__swiper-container .swiper-button-next {
  width: 50px;
  height: 50px;
  background: no-repeat center;
  background-size: cover;
  transition: background 0.2s linear;
  outline: none;
}
.events__swiper-container .swiper-button-prev::before,
.events__swiper-container .swiper-button-next::before {
  content: "";
  position: absolute;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  width: 95%;
  height: 95%;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.events__swiper-container .swiper-button-prev:focus::before,
.events__swiper-container .swiper-button-next:focus::before {
  opacity: 1;
}
.events__swiper-container .swiper-button-prev {
  background-image: url("../img/arrow-slider-prev-svg-nostroke.svg");
  left: -20px;
  top: 50%;
}
.events__swiper-container .swiper-button-prev:hover {
  background-image: url("../img/swiper-arrow-prev-hover.svg");
  background-size: 50px;
}
.events__swiper-container .swiper-button-next {
  background-image: url("../img/arrow-slider-next-svg-nostroke.svg");
  right: -25px;
  top: 50%;
}
.events__swiper-container .swiper-button-next:hover {
  background-image: url("../img/swiper-arrow-next-hover.svg");
  background-size: 50px;
}

.events__swiper-container .swiper-button-prev:after,
.events__swiper-container .swiper-button-next:after {
  display: none;
}

.partners {
  position: relative;
}
.partners .swiper-button-prev,
.partners .swiper-button-next {
  width: 30px;
  height: 30px;
  background: no-repeat center;
  background-size: cover;
  transition: background 0.2s linear;
  outline: none;
}
.partners .swiper-button-prev::before,
.partners .swiper-button-next::before {
  content: "";
  position: absolute;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  width: 85%;
  height: 85%;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.partners .swiper-button-prev:focus::before,
.partners .swiper-button-next:focus::before {
  opacity: 1;
}
.partners .swiper-button-prev {
  background-image: url("../img/arrow-slider-prev-svg-nostroke.svg");
  top: 48%;
  left: 0;
}
.partners .swiper-button-prev:hover {
  background-image: url("../img/swiper-partners-arrow-prev-hover.png");
}
.partners .swiper-button-next {
  background-image: url("../img/arrow-slider-next-svg-nostroke.svg");
  top: 48%;
  right: 0;
}
.partners .swiper-button-next:hover {
  background-image: url("../img/swiper-partners-arrow-hover.png");
}

.partners .swiper-button-prev:after,
.partners .swiper-button-next:after {
  display: none;
}
.project__partners .swiper {
  width: calc(1450 / 1600 * 100%);
}
