<section class="events">
  <div class="container">
    <h2 class="events__title">События</h2>
    <div class="events__swiper-container">
      <div class="swiper-button-prev js-swiper-button-prev1"></div>
      <div class="swiper-button-next js-swiper-button-next1"></div>
      <div class="swiper events__swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../img/events__img1.jpg" alt="Картинка1" class="events__img">
            <div class="events__wrapper">
              <span class="events__value">Музей им. Щусева<br>
                с 20 марта по 30 апреля</span>
              <p class="events__subtitle">Книжная гравюра в живом восприятии</p>
              <p class="events__descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной
                династии, которую продолжили его брат Давид и сын Ридольфо.</p>
              <a href="#" class="events__link">Подробнее</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="../img/events__img2.jpg" alt="Картинка2" class="events__img">
            <div class="events__wrapper">
              <span class="events__value">ММОМА<br>
                24 марта 19:00</span>
              <p class="events__subtitle">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</p>
              <p class="events__descr">Высокий уровень вовлечения представителей целевой аудитории является четким
                доказательством простого факта.</p>
              <a href="#" class="events__link">Подробнее</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="../img/events__img3.jpg" alt="Картинка1" class="events__img">
            <div class="events__wrapper">
              <span class="events__value">Еврейский музей
                с 31 марта по 21 апреля</span>
              <p class="events__subtitle">Выставка «Формация 2020»</p>
              <p class="events__descr">Идейные соображения высшего порядка, а также современная методология разработки
                играет важную роль в формировании глубокомысленных рассуждений</p>
              <a href="#" class="events__link">Подробнее</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="../img/events__img3.jpg" alt="Картинка1" class="events__img">
            <div class="events__wrapper">
              <span class="events__value">Еврейский музей
                с 31 марта по 21 апреля</span>
              <p class="events__subtitle">Выставка «Формация 2020»</p>
              <p class="events__descr">Идейные соображения высшего порядка, а также современная методология разработки
                играет важную роль в формировании глубокомысленных рассуждений</p>
              <a href="#" class="events__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>