<section class="form-content">
  <div class="container">
    <form action="#" class="form">
      <div class="form__location">
        <h3 class="form__shourum">Шоурум №4</h3>
        <p class="form__adress">Леонтьевский переулок, дом 5/1</p>
      </div>
      <div class="form__inputs">
        <input class="form__input" type="text" data-validate-field="fio" placeholder="Имя*">
        <input class="form__input js-form__input" type="text" value="Телефон*">
        <button class="form__btn" type="submit">Заказать обратный звонок</button>
      </div>
      <div class="form__social">
        <p class="form__contact">Связаться в один клик</p>
        <img class="form__img" src="../img/Whatsapp-Icon.svg" alt="Whatsapp-Icon">
        <img class="form__img" src="../img/telegram-icon.svg" alt="Whatsapp-Icon">
      </div>
    </form>
  </div>
</section>