<section class="gallerey">
  <div class="container">
    <div class="gallerey__wrapper">
      <div class="gallerey__left">
        <h2 class="gallerey__title">Галерея</h2>
        <div class="gallerey__filter">
          <span class="gallerey__descr">Фильтр:</span>
          <button class="gallerey__button">Живопись</button>
          <ul class="gallerey__dropdown-list gallerey__dropdown-list--hidden">
            <li class="gallerey__dropdown-item">Рисунок</li>
            <li class="gallerey__dropdown-item">Скульптура</li>
          </ul>
        </div>
        <div class="checkboxes">
          <label>
            <input type="checkbox" class="checkboxes__real-checkbox">
            <span class="checkboxes__custome-checkbox"></span>
            XIX век
          </label>
          <label>
            <input type="checkbox" class="checkboxes__real-checkbox">
            <span class="checkboxes__custome-checkbox"></span>
            XX век
          </label>
          <label>
            <input type="checkbox" class="checkboxes__real-checkbox">
            <span class="checkboxes__custome-checkbox"></span>
            Современность
          </label>
        </div>
      </div>
      <div class="gallerey__right">
        <div class="gallerey-swiper-wrapper">
          <div class="swiper js-gallerey__swiper gallerey__swiper">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide__imgbox" data-modal="modal-1">
                  <img class="gallerey__img" src="../img/gallerey-img1.jpg" alt="Картина1">
                  <a href="#" class="swiper-slide__imgbox-overlay"></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__imgbox" data-modal="modal-2">
                  <img class="gallerey__img" src="../img/gallerey-img2.jpg" alt="Картина2">
                  <a href="#" class="swiper-slide__imgbox-overlay"></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__imgbox" data-modal="modal-3">
                  <img class="gallerey__img" src="../img/gallerey-img3.jpg" alt="Картина3">
                  <a href="#" class="swiper-slide__imgbox-overlay"></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__imgbox" data-modal="modal-4">
                  <img class="gallerey__img" src="../img/gallerey-img4.jpg" alt="Картина4">
                  <a href="#" class="swiper-slide__imgbox-overlay"></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__imgbox" data-modal="modal-5">
                  <img class="gallerey__img" src="../img/gallerey-img5.jpg" alt="Картина5">
                  <a href="#" class="swiper-slide__imgbox-overlay"></a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__imgbox" data-modal="modal-6">
                  <img class="gallerey__img" src="../img/gallerey-img6.jpg" alt="Картина6">
                  <a href="#" class="swiper-slide__imgbox-overlay"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>