<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__wrapper">
        <a href="#" class="header__logo-link"><img src="img/logo.svg" alt="" class="header__logo"></a>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Галерея</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
            <li class="nav__item"><a href="#" class="nav__link">События</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Проекты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
        <a href="#" class="header__login">Войти</a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__wrapper">
        <ul class="header__list">
          <li class="header__item"><a href="#" class="header__link">Реализм</a></li>
          <li class="header__item"><a href="#" class="header__link">Импрессионизм</a></li>
          <li class="header__item"><a href="#" class="header__link">Постимпрессионизм</a></li>
          <li class="header__item"><a href="#" class="header__link">Аванагрд</a></li>
          <li class="header__item"><a href="#" class="header__link">Футуризм</a></li>
        </ul>
        <form action="#" class="header__form">
          <input class="header__input" type="text" value="Поиск по сайту">
        </form>
      </div>
    </div>
  </div>
</header>