<section class="hero">
  <div class="swiper hero__swiper js-hero__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero__swiper-slide hero__swiper-slide--one">
        <div class="container container--hero">
          <h1 class="hero__title">Прикоснитесь к прекрасному</h1>
        <p class="hero__subtitle">Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт
          предпосылки для новых предложений.</p>
          <button class="hero__button">Подписаться на рассылку</button>
        </div>
      </div>
      <div class="swiper-slide hero__swiper-slide hero__swiper-slide--two">
        <div class="container container--hero">
          <h1 class="hero__title">Прикоснитесь к прекрасному</h1>
        <p class="hero__subtitle">Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт
          предпосылки для новых предложений.</p>
          <button class="hero__button">Подписаться на рассылку</button>
        </div>
      </div>
      <div class="swiper-slide hero__swiper-slide hero__swiper-slide--three">
        <div class="container container--hero">
          <h1 class="hero__title">Прикоснитесь к прекрасному</h1>
        <p class="hero__subtitle">Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт
          предпосылки для новых предложений.</p>
          <button class="hero__button">Подписаться на рассылку</button>
        </div>
      </div>
    </div>
  </div>
</section>