<section class="catalog">
  <div class="container">
    <h2 class="catalog__title">Каталог</h2>
    <p class="catalog__subtitle">Акционеры крупнейших компаний, которые представляют собой яркий пример
      континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и
      морали. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и
      по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы. </p>
    <div class="catalog__wrapper">
      <div class="catalog__left">
        <img class="catalog__img" src="../img/image 3.jpg" alt="Картинка в каталоге">
        <span class="catalog__img-title">Доменико Гирландайо</span>
        <span class="catalog__img-age">2 июня 1448 — 11 января 1494</span>
        <p class="catalog__img-descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной
          династии, которую продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный
          Микеланджело в течение года овладевал профессиональными навыками. Автор фресковых циклов, в которых выпукло,
          со всевозможными подробностями показана домашняя жизнь библейских персонажей (в их роли выступают знатные
          граждане Флоренции в костюмах того времени).</p>
      </div>
      <div class="catalog__right">
        <div class="accordion">
          <p class="accordion__title" data-name="accordion-title">C 1400 по 1499 гг.</p>
          <div class="accordion__body accordion__body--hidden">
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
            </ul>
          </div>
          <p class="accordion__title" data-name="accordion-title">C 1500 по 1599 гг.</p>
          <div class="accordion__body accordion__body--hidden">
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
            </ul>
          </div>
          <p class="accordion__title" data-name="accordion-title">C 1600 по 1699 гг.</p>
          <div class="accordion__body accordion__body--hidden">
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
            </ul>
          </div>
          <p class="accordion__title" data-name="accordion-title">C 1700 по 1799 гг.</p>
          <div class="accordion__body accordion__body--hidden">
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
            </ul>
          </div>
          <p class="accordion__title" data-name="accordion-title">C 1800 по 1899 гг.</p>
          <div class="accordion__body accordion__body--hidden">
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
            </ul>
          </div>
          <p class="accordion__title" data-name="accordion-title">C 1900 по 1999 гг.</p>
          <div class="accordion__body accordion__body--hidden">
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
            </ul>
          </div>
          <p class="accordion__title" data-name="accordion-title">C 2000 г.</p>
          <div class="accordion__body accordion__body--hidden">
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Брамантино</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бреа, Людовико</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бьяджо д’Антонио Туччи</a></li>
            </ul>
            <ul class="accordion__list">
              <li class="accordion__item"><a href="#" class="accordion__link">Бенедетто ди Биндо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бергоньоне, Амброджо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Биссоло, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Больтраффио, Джованни</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Бонсиньори, Франческо</a></li>
              <li class="accordion__item"><a href="#" class="accordion__link">Боттичини, Рафаэлло</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>