<div class="mobile-menu mobile-menu__hidden">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">О нас</a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link">Галерея</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
      <li class="nav__item"><a href="#" class="nav__link">События</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Проекты</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
    </ul>
  </nav>
  <div class="mobile-menu__btn">
    <a href="#" class="header__login">Войти</a>
  </div>
  <button class="close">
    <span class="close__line close__line--one"></span>
    <span class="close__line close__line--two"></span>
  </button>
</div>