<div class="modal js-modal" id="modal-1">
  <div class="modal__content">
    <img src="../img/gallerey-img-big-1.jpg" alt="картинка1">
    <div class="modal__text">
      <h3  class="modal__title">Казимир Малевич</h3>
      <span class="modal__subtitle">"Женщина с граблями"</span>
      <span class="modal__age">1931-1932</span>
      <p class="modal__description">Картина из второй серии крестьянского цикла работ казимира Малевича. Художник принялся за её создание 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
      <button class="close modal__close">
        <span class="close__line close__line--one"></span>
        <span class="close__line close__line--two"></span>
      </button>
    </div>
  </div>
</div>

<div class="modal js-modal" id="modal-2">
  <div class="modal__content">
    <img src="../img/gallerey-img-big-1.jpg" alt="картинка1">
    <div class="modal__text">
      <h3  class="modal__title">Казимир Малевич2</h3>
      <span class="modal__subtitle">"Женщина с граблями"</span>
      <span class="modal__age">1931-1932</span>
      <p class="modal__description">Картина из второй серии крестьянского цикла работ казимира Малевича. Художник принялся за её создание 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
    </div>
    <button class="close modal__close">
      <span class="close__line close__line--one"></span>
      <span class="close__line close__line--two"></span>
    </button>
  </div>
</div>
<div class="modal js-modal" id="modal-3">
  <div class="modal__content">
    <img src="../img/gallerey-img-big-1.jpg" alt="картинка1">
    <div class="modal__text">
      <h3  class="modal__title">Казимир Малевич3</h3>
      <span class="modal__subtitle">"Женщина с граблями"</span>
      <span class="modal__age">1931-1932</span>
      <p class="modal__description">Картина из второй серии крестьянского цикла работ казимира Малевича. Художник принялся за её создание 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
    </div>
    <button class="close modal__close">
      <span class="close__line close__line--one"></span>
      <span class="close__line close__line--two"></span>
    </button>
  </div>
</div>

<div class="modal js-modal" id="modal-4">
  <div class="modal__content">
    <img src="../img/gallerey-img-big-1.jpg" alt="картинка1">
    <div class="modal__text">
      <h3  class="modal__title">Казимир Малевич</h3>
      <span class="modal__subtitle">"Женщина с граблями4"</span>
      <span class="modal__age">1931-1932</span>
      <p class="modal__description">Картина из второй серии крестьянского цикла работ казимира Малевича. Художник принялся за её создание 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
    </div>
    <button class="close modal__close">
      <span class="close__line close__line--one"></span>
      <span class="close__line close__line--two"></span>
    </button>
  </div>
</div>

<div class="modal js-modal" id="modal-5">
  <div class="modal__content">
    <img src="../img/gallerey-img-big-1.jpg" alt="картинка1">
    <div class="modal__text">
      <h3  class="modal__title">Казимир Малевич5</h3>
      <span class="modal__subtitle">"Женщина с граблями"</span>
      <span class="modal__age">1931-1932</span>
      <p class="modal__description">Картина из второй серии крестьянского цикла работ казимира Малевича. Художник принялся за её создание 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
    </div>
    <button class="close modal__close">
      <span class="close__line close__line--one"></span>
      <span class="close__line close__line--two"></span>
    </button>
  </div>
</div>
<div class="modal js-modal" id="modal-6">
  <div class="modal__content">
    <img src="../img/gallerey-img-big-1.jpg" alt="картинка1">
    <div class="modal__text">
      <h3  class="modal__title">Казимир Малевич6</h3>
      <span class="modal__subtitle">"Женщина с граблями"</span>
      <span class="modal__age">1931-1932</span>
      <p class="modal__description">Картина из второй серии крестьянского цикла работ казимира Малевича. Художник принялся за её создание 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
    </div>
    <button class="close modal__close">
      <span class="close__line close__line--one"></span>
      <span class="close__line close__line--two"></span>
    </button>
  </div>
</div>