<section class="projects">
  <div class="container">
    <h2 class="project__title">Проекты</h2>
    <p class="project__description">
      Предварительные выводы: постоянное информационно-пропагандистское обеспечение нашей деятельности однозначно
      фиксирует необходимость своевременного выполнения сверхзадачи. А ещё независимые государства смешаны с не
      уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Прежде
      всего, постоянное информационно-пропагандистское <span class="project__tultip" data-text="Пример современных тенденций - современная методология разработки"></span> обеспечение нашей
      деятельности однозначно фиксирует необходимость
      экономической целесообразности принимаемых решений. И нет сомнений, что действия представителей оппозиции могут
      быть рассмотрены <span class="project__tultip" data-text="В стремлении повысить качество"></span> исключительно в разрезе маркетинговых и финансовых <span
        class="project__tultip" data-text="Приятно, граждане, наблюдать, как сделанные на базе аналитики выводы вызывают у вас эмоции  "></span> предпосылок. Банальные, но неопровержимые
      выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою
      очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости. Подробнее:
      <a href="#" class="project__link">blanchard-art.ru/projects</a>
    </p>
    <div class="partners project__partners">
      <h3 class="partners__title">Партнёры проектов:</h3>
        <div class="swiper-button-prev js-swiper-button-prev2"></div>
        <div class="swiper-button-next js-swiper-button-next2"></div>
      <div class="swiper js-project__partners">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="swiper-slide__img1" src="../img/partners-img1.png" alt="Партнер1">
          </div>
          <div class="swiper-slide"><img class="swiper-slide__img2" src="../img/partners-img2.png" alt="Партнер2"></div>
          <div class="swiper-slide"><img class="swiper-slide__img3" src="../img/partners-img3.png" alt="Партнер3"></div>
          <div class="swiper-slide"><img class="swiper-slide__img4" src="../img/partners-img4.png" alt="Партнер4"></div>
          <div class="swiper-slide"><img class="swiper-slide__img5" src="../img/partners-img5.png" alt="Партнер5"></div>
          <div class="swiper-slide"><img class="swiper-slide__img6" src="../img/partners-img6.png" alt="Партнер6"></div>
          <div class="swiper-slide"><img class="swiper-slide__img7" src="../img/partners-img7.png" alt="Партнер7"></div>
          <div class="swiper-slide"><img class="swiper-slide__img8" src="../img/partners-img8.png" alt="Партнер8"></div>
          <div class="swiper-slide"><img class="swiper-slide__img9" src="../img/partners-img9.png" alt="Партнер9"></div>
          <div class="swiper-slide"><img class="swiper-slide__img10" src="../img/partners-img10.png" alt="Партнер10"></div>
        </div>
      </div>
    </div>
  </div>
</section>