@import "variables";
@import "mixins";
.about{
  color: $colorBlackSvetly;
  @include section-padding;
  padding-bottom:53px;
  &__title{
    font-size: 48px;
    margin-bottom: 21px;
  }
  &__subtitle{
    max-width: 1080px;
    line-height: 2;
  }
}