.form-content {
  padding: 35px 0;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__location {
    font-weight: 600;
    color: #333333;
  }
  &__shourum {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  &__adress {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
  }
  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    position: relative;
  }
  &__input {
    border: 1px solid #cacaca;
    border-radius: 100px;
    padding: 15px 0 15px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    width: 260px;
  }
  &__btn {
    @include button-rezet;
    padding: 13px 23px 13px 23px;
    border: 2px solid #9d5cd0;
    font-weight: 700;
    font-size: 18px;
    color: #9D5CD0;
    width: 326px;
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover{
      background: #9D5CD0;
      color: #ffffff;
    }
    &:active{
      background: #7943A4;
      border-color: #D1A9F0;
    }
  }
  &__social{
    width: 275px;
  }
  &__contact {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin-bottom: 12px;
  }
  &__img {
    width: 40px;
    height: 40px;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
.js-validate-error-label{
  position: absolute;
  top: -20px;
}
