@import "variables";
@import "mixins";
.gallerey {
  padding: 85px 0 81px 0;
  background: url("../img/gallerey-bg.jpg")no-repeat center;
  &__wrapper {
    display: flex;
  }
  &__title {
    font-size: 48px;
    color: $colorWhite;
    font-weight: 400;
    margin-bottom: 27px;
  }
  &__filter {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__button {
    background: transparent url("../img/arrow-down.svg") no-repeat 97% 60%;
    border-radius: 6px;
    border: 1px solid $colorWhite;
    width: 400px;
    height: 40px;
    color: $colorWhite;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: background 0.1s linear;
    padding-left: 15px;
    margin-bottom: 183px;
  }
  &__button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__dropdown-list {
    position: absolute;
    top: 75px;
  }
  &__dropdown-item {
    width: 400px;
    height: 40px;
    color: $colorWhite;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid $colorWhite;
    padding-top: 10px;
    cursor: pointer;
    transition: background 0.1s linear;
    padding-left: 15px;
  }
  &__dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__descr {
    color: $colorWhite;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 16px;
  }
  &__left{
    margin-right: 50px;
  }
  &__right{
    padding-top: 79px;
  }
  &__img{
    width: 100%;
    max-width: 350px;
    height: auto;
  }

}
.gallerey__dropdown-list--hidden {
  display: none;
}
.gallerey__dropdown-list--active {
  display: block;
}

.checkboxes {
  color: $colorWhite;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  &__custome-checkbox {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid $colorWhite;
    position: relative;
    margin-right: 9px;
    &:before {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #c283f3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.2s linear;
    }
  }
  &__real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &__real-checkbox:checked + &__custome-checkbox:before {
    transform: translate(-50%, -50%) scale(1);
  }
  &__real-checkbox:checked + &__custome-checkbox {
    border-color: #c283f3;
  }
  label:not(:last-child){
    margin-bottom: 15px;

  }
  label:hover {
    cursor: pointer;
    color: #c283f3;
  }
  label:hover > &__custome-checkbox {
    border-color: #c283f3;
  }
}
