@import "variables";
@import "mixins";
.header {
  color: $colorWhite;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  &__logo-link {
    height: 40px;
    &:focus{
      outline: none;
      box-shadow: 0 0 0 1px #9D5CD0;
    }
  }
  &__logo {
    width: 173px;
    margin-right: 179px;
  }
  &__wrapper {
    @include flex-align;
  }
  &__top {
    background: $colorBlack;
    padding: 30px 0;
    font-size: 18px;
  }
  &__bottom {
    background: $colorBlackTransparent;
    padding: 24px 0 21px 0;
  }
  &__wrapper {
    @include flex-align;
    justify-content: space-between;
  }
  &__list {
    @include flex-align;
  }
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 110px;
  }
  &__link {
    position: relative;
    font-weight: 400;
    letter-spacing: 1.1px;
    transition: all 0.1s linear;
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 10px;
      background: url("../img/arrow-down.svg") no-repeat right 65%;
      top: 9px;
      right: -20px;
    }
    &:hover {
      color: #c283f3;
    }
    &:hover:after {
      background-image: url("../img/arrow-down-hover.svg");
    }
    &:active {
      color: #7943a4;
    }
    &:active:after {
      color: #7943a4;
      background-image: url("../img/arrow-active-up.svg");
    }
    &.active {
      color: #7943a4;
    }
    &.active:after {
      color: #7943a4;
      background-image: url("../img/arrow-active-up.svg");
    }
    &:focus{
      outline: none;
      box-shadow: 0 0 0 1px #9D5CD0;
    } 
  }
  &__login {
    font-weight: 400;
    margin-left: auto;
    padding-left: 20px;
    background: url("../img/login.svg") no-repeat center left;
    transition: all 0.1s linear;
    &:hover {
      color: #c283f3;
      background-image: url("../img/enter-hover.svg");
    }
    &:active {
      color: #7943a4;
      background-image: url("../img/enter-active.svg");
    }
    &:focus{
      outline: none;
      box-shadow: 0 0 0 1px #9D5CD0;
    }
  }
  &__form {
    background: url("../img/search.svg") no-repeat left center;
    padding-left: 30px;
    cursor: pointer;
    &--mobile{
      padding: 0;
      background: none;
      display: none;
    }
  }
  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $colorWhite;
    width: 220px;
    padding-bottom: 5px;
    letter-spacing: 0.9px;
    color: $colorWhite;
    outline: none;
    transition: all 0.1s linear;
    &:hover {
      border-color: #c283f3;
    }
    &:active {
      border-color: #7943a4;
    }
    &:focus{
      outline: none;
      box-shadow: 0 0 0 1px #9D5CD0;
      background: #9D5CD0;
    }
  }
}
.nav {
  &__list {
    @include flex-align;
  }
  &__item:not(:last-child) {
    margin-right: 65px;
  }
  &__link {
    font-weight: 600;
    transition: all 0.1s linear;
    &:hover {
      color: #c283f3;
    }
    &:active {
      color: #7943a4;
    }
    &:focus{
      outline: none;
      box-shadow: 0 0 0 1px #9D5CD0;
    } 
  }
}

.dropdown-container {
  position: absolute;
  top: 42px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  height: 300px;
  width: 300px;
  display: none;
}
.dropdown-container.dropdown-container--active {
  display: block;
}
.dropdown-list {
  height: 220px;
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    width: 220px;
    height: 40px;
    display: block;
    padding: 10px;
    position: relative;
    background: no-repeat center/cover;
    border: 2px solid transparent;
    &:hover {
      border-color: #9d5cd0;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
      border: 1px solid #9d5cd0;
      display: none;
    }
    &:active:after {
      display: block;
    }
    &--tintoretto {
      background-image: url("../img/tintoretto-bg.jpg");
    }
    &--fridrih {
      background-image: url("../img/fridrih-bg.png");
    }
    &--leonardo {
      background-image: url("../img/leonardo-bg.png");
    }
    &--verokko {
      background-image: url("../img/leonardo-bg.png");
    }
  }
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background: #000000;
}

.simplebar-scrollbar {
  background: #ffffff;
  height: 28px !important;
}
.simplebar-scrollbar:before {
  background: #ffffff;
  height: 28px;
}
.simplebar-track {
  right: -20px;
}

.burger{
  position: relative;
  border: none;
  background: transparent;
  width: 36px;
  height: 28px;
  display: none;
  &__line{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffffff;
    &--top{
      top: 0;
      left: 0;
      right: 0;
    }
    &--middle{
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0,-50%);
      width: 77%;
    }
    &--bottom{
      bottom: 0;
      right: 0;
      left: 0;
      width: 65%;
    }
  }
}
