@import 'variables';
@import 'mixins';
.hero{
  color: $colorWhite;
  font-weight: 700;
  &__title{
    font-size: 72px;
    max-width: 590px;
    line-height: 1.2;
    letter-spacing: 4px;
  }
  &__subtitle{
    font-size: 18px;
    line-height: 1.6;
    max-width: 570px;
    letter-spacing: 1px;
    margin-bottom: 92px;
  }
  &__button{
    @include button-rezet;
    background:$colorFiolet;
    padding: 26px 35px;
    color: inherit;
    font-weight: inherit;
    letter-spacing: 2px;
  }
}
