@import "variables";
@import "mixins";
.catalog {
  padding: 85px 0 99px 0;
  &__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 21px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    line-height: 2;
    max-width: 1080px;
    margin-bottom: 39px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: calc(100% - 50% - 50px);
  }
  &__right {
    width: calc(100% - 50%);
  }
  &__img {
    width: 100%;
    max-width: 750px;
    height: auto;
    margin-bottom: 30px;
  }
  &__img-title {
    display: block;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 12px;
  }
  &__img-age {
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    margin-bottom: 8px;
  }
  &__img-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    color: #999999;
    max-width: 749px;
    margin: 0;
  }
}
.accordion {
  border-bottom: 1px solid #CACACA;
  &__title {
    margin: 0;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid transparent;
    padding: 41px 0;
    background: url("../img/accordion-down.svg") no-repeat right center;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover{
      background-image: url('../img/accordion-arrow-down-hover-nostroke.svg');
      border-top-color: #9D5CD0;
      border-bottom-color: #9D5CD0;
      color: #9D5CD0;
    }
    &.active{
      background: url('../img/accordion-arrow-up-active.svg') no-repeat right center;
    }
  }
  &__body {
    padding: 35px 0 25px 0;
    display: flex;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    &-border{
      border-top: 1px solid red;
    }
  }
  &__list:not(:last-child) {
    margin-right: 60px;
  }
  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
  &__link {
    color: #333333;
    font-weight: 400;
    font-size: 16px;
  }
}
.accordion__body--hidden {
  display: none;
}
